@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Nanum+Gothic+Coding:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #dedede;
  /* width: 100%; */
}
.navBar {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
}
.TWD {
  width: 70px;
  height: 50px;
  border-radius: 50%;
}
.img-container {
  padding: 20px 0 0 25px;
}
div.navBar ul {
  list-style: none;
  display: flex;
  padding: 30px 10px;
}
div.navBar ul li {
  margin: 0 10px;
}
span {
  margin-left: 10px;
}
.background-image {
  width: 100%;
  height: 80vh;
  margin: 0;
  position: relative;
}
.hero-page-writeup {
  position: absolute;
  top: 20vh;
  left: 20px;
  /* width: 650px; */
}

.hero-page-writeup h1 {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 900;
  padding: 20px;
  letter-spacing: 2px;
  line-height: 53px;
  color: #ffffff;
  font-style: italic;
  font-size: 50px;
  margin-left: 30px;
}

/* this is for the list under the hero section */

div.hero-page-writeup h4 {
  margin: 30px 60px;
  font-size: large;
  font-family: sans-serif;
}
/* .hero-list {
  width: 450px;
} */
div.hero-page-writeup ul {
  list-style: none;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  margin-left: 50px;
}
div.hero-page-writeup ul li {
  padding: 5px;
  margin-left: 60px;
  background-color: #23238e;
  margin: 10px;
  width: 180px;
  padding: 20px 25px;
  border-radius: 30px;
  color: #fff;
}
div.hero-page-writeup button {
  background-color: aqua;
  padding: 10px 20px;
  outline: 0;
  border: 0;
  border-radius: 40px;
}
.footer {
  background-color: #dedede;
  /* width: 100vw; */
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}
/*  subscription part */
h4 {
  margin-bottom: 10px;
}
input[type="email"] {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
}
.btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  background-color: #2ecc71;
  margin: 5px;
}
.social-media {
  display: flex;
  justify-content: space-between;
}
p {
  padding: 2px;
}
.prod-serv {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 10px 20px;
  padding: 40px;
}
.ourService {
  background-color: #f5f5f5;
  /* background-color: #6363bb; */
  /* color: #fff; */
}
.ourService h3 {
  padding: 20px;
  font-size: 40px;
  font-style: italic;
  margin-left: 50px;
}
.services {
  margin: 0 auto;
}
.services img {
  width: 300px;
  height: 250px;
  border-radius: 20px;
}
